<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ssi>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <apikey></apikey>
                <apisource>Mienvio</apisource>
                <model>MienvioMagento\Services\Model\Carrier\Mienviorates</model>
                <name>Shipping Rates</name>
                <title>Mienvio Shipping Rates</title>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </ssi>
        </carriers>
    </default>
</config>